*{ margin: 0; padding: 0; box-sizing: border-box;}
body {
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    }
    .close{
        text-align: right;
    }
button{
    display: flex;
    justify-content: end;
   background-color: white;

}
section {
    width: 420px;
    height: 426px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    ;
    
}

h1{
    width: 356px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin: 0px 32px 0 32px;
}
.form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
input[type="email"],
input[type="password"] {
    width: 356px;
    height: 48px;
    border-radius: 12px;
    
}

input[type="email"] {
    border: 1px solid #FFE44D;
    margin: 24px 32px 0 32px;
}

input[type="password"] {
    border: 1px solid #CFD8DC;
    color: #7B8E98;
    font-size: 16px;
    padding: 14px 16px;
}

p {
    width: 356px;
    height: 42px;
    color: #7B8E98;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 16px;
}

input[type="submit"],
input[type="button"] {
    width: 356px;
    height: 48px;
    border-radius: 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px
}

input[type="submit"] {
    background-color: #FFE44D;
    padding: 14px 24px;
    border: none;
}
.sign-in{
background-color: white;
border: 1px solid #CFD8DC;
}